body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

path {
  transition: transform 0.2s; /* Add a smooth transition effect */
  transform-origin: center center; /* Set the transform origin to the center */
}

path:hover {
  fill: rgb(0, 40, 106);
  transform: scale(1.015); /* Scale the path by 5% on hover */
  
}

.region:hover{
  z-index: 250;
}